.logo {
  height: 53px;
  border: 0px;
}

h1 {
  height: 100%;
  display: inline-block;
  font-size: 14px;
  line-height: 100%;
  font-family: Vegur, 'PT Sans', Verdana, sans-serif;
  padding-left: 0px;
  background-clip: text;
  -webkit-background-clip: text;
  color: #f3f2f0;
  margin-top: calc(18vh - 100px);
  font-weight: 900;
  font-style: initial;
  text-align: center;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  background: rgb(28, 150, 23);
  background-image: url(https://www.iebo.edu.mx/wp-includes/images/fondotriangulos-02.png);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: transparent;
}
.grid-container {
  margin: 0px;
}

.dashboard-card {
  background-image: url(https://www.iebo.edu.mx/wp-includes/images/fondotriangulos-02.png);
  text-align: center;
}

.dashboard-card-content {
  text-align: center;
}
nz-divider {
  color: #333;
  font-weight: initial;
}
.inner-box {
  padding: 1px 0;
  text-align: right;
}
.right-layout {
  background: #21a20d;
  height: 75px;
  background-image: url(https://www.iebo.edu.mx/wp-includes/images/fondotriangulos-02.png);
}
.inner-boxxx {
  padding: 0px 0;
  text-align: left;
}
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 50%;
  background-color: #6edc0c;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
